version: "3.9"

services:
  fe:
    container_name: vite-react
    image: vite-react:dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://localhost:3000
    command: pnpm dev --host
